body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    flex-direction: column;
}
.speedometer {
    text-align: center;
    border: 5px solid #61dafb;
    border-radius: 50%;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.speed-value {
    font-size: 3.5em;
}
.unit {
    padding: 10px;
    font-size: 1.5em;
}
.location {
    margin-top: 45px;
    font-size: 1.7em;
    text-align: center;
    color: aqua;
}